body,html{
  height: 100%;
}

body{
  color:#666;
  font-size: .24rem;
  background: #f8f8f8;
  font-family: PingFang SC,Lantinghei SC,Roboto,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
} 

#app{
  width:100%;
  height: 100%;
}
.app-mask{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
}
.scroll-view-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  overflow-x:hidden;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.visibility{
  visibility: visible;
  animation: fadeIn .5s ease-out backwards;
}

.scroll_view_hidden{
  overflow:hidden;
}

.app_fixed {
  width: 100%;
  position: fixed;
  left:0;
  top:0;
  overflow: hidden;
}
.pageView{
  width: 100%;
  height: 100%;
  position: relative;
}
.safe-area-inset {
  display: block;
  background: #fff;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

@keyframes loading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(.2rem);
    -webkit-transform: translateY(.2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(.2rem);
    -webkit-transform: translateY(.2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scaleIn {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

.ui-lazyLoad-pic {
  background: url(/static/img/ui-lazyload.png?v=version) #f0f0f0 no-repeat center center;
  background-size: contain;
}
/**ui styles **/
.ui-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ui-mask{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.7);
  display: none;
  z-index: 100;
  &.active{
    display: block;
  }
}

.ui-bottom-line{
  border-bottom: .01rem solid #e0e0e0;
}
.ui-right-arrow{
  position:relative;
  width: .24rem;
  height: .36rem;
  &:before,&:after{
    content: '';
    width: .12rem;
    height: .015rem;
    background: #c3c3c3;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    transform-origin: right top;
  }
  &:before{
    transform: rotate(42.5deg);
  }
  &:after{
    transform: rotate(-42.5deg);
  }
}

.ui-successImg {
  animation: fadeIn 1s ease 0.2s 1 both;
}
.fs22{
  font-size: .22rem;
}
.fs24{
  font-size: .24rem;
}
.fs26{
  font-size: .26rem;
}
.fs28{
  font-size: .28rem;
}
.fs30{
  font-size: .3rem;
}
.fs32{
  font-size: .32rem;
}
.fs34{
  font-size: .34rem;
}
.fs36{
  font-size: .36rem;
}
.p30{
  padding: 0 .3rem;
}

.pt15{
  padding-top: .15rem;
}

.pt20{
  padding-top: .2rem;
}

.pt30{
  padding-top: .3rem;
}

.pb15{
  padding-bottom: .15rem;
}

.pb20{
  padding-bottom: .2rem;
}

.pb30{
  padding-bottom: .3rem;
}

.mt15{
  margin-top: .15rem;
}
.mt20{
  margin-top: .2rem;
}
.mt30 {
  margin-top: .3rem;
}

.mb15{
  margin-bottom: .15rem;
}
.mb20{
  margin-bottom: .2rem;
}
.mb30 {
  margin-bottom: .3rem;
}

.bgfff{
  background: #fff;
}
.c3{
  color: #333;
}
.c4{
  color: #444;
}
.c6{
  color: #666;
}
.c9{
  color: #999;
}
.cfff{
  color: #fff;
}
.cff6900 {
  color: #ff6900;
}
.c262626{
  color: #262626;
}


