.c3{
  color: #333;
}
.c4{
  color: #444;
}
.c6{
  color: #666;
}
.c9{
  color: #999;
}
.cfff{
  color: #fff;
}
.cff6900 {
  color: #ff6900;
}
.c262626{
  color: #262626;
}
.bgfff{
  background: #fff;
}