.p30{
  padding: 0 .3rem;
}

.pt15{
  padding-top: .15rem;
}

.pt20{
  padding-top: .2rem;
}

.pt30{
  padding-top: .3rem;
}

.pb15{
  padding-bottom: .15rem;
}

.pb20{
  padding-bottom: .2rem;
}

.pb30{
  padding-bottom: .3rem;
}

.mt15{
  margin-top: .15rem;
}
.mt20{
  margin-top: .2rem;
}
.mt30 {
  margin-top: .3rem;
}

.mb15{
  margin-bottom: .15rem;
}
.mb20{
  margin-bottom: .2rem;
}
.mb30 {
  margin-bottom: .3rem;
}
