.fs22{
  font-size: .22rem;
}
.fs24{
  font-size: .24rem;
}
.fs26{
  font-size: .26rem;
}
.fs28{
  font-size: .28rem;
}
.fs30{
  font-size: .3rem;
}
.fs32{
  font-size: .32rem;
}
.fs34{
  font-size: .34rem;
}
.fs36{
  font-size: .36rem;
}
.fs38{
  font-size: .38rem;
}
.fs40{
  font-size: .4rem;
}